.main {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  background-color: #121212;
  color: #fdfdfd;

  .header {
    align-items: center;
    margin-top: 40px;
    background-color: none;
    height: 30px;
    width: 100%;
    display: flex;

    @media(max-width:480px) {
      display: block;
    }

    a {
      text-decoration-line: none;
      color: #fdfdfd;
    }

    .Logo {
      margin-left: 80px;
      display: flex;
      align-items: center;

      @media(max-width:480px) {
        margin-left: 10%;
        margin-bottom: 10px;
      }

      .img {
        background-color: #fdfdfd;
        width: 70px;
        height: 70px;
      }

      span {
        margin-left: 10px;
        font-size: 30px;
      }
    }

    .inlogo {
      display: flex;
      flex-grow: 1;

      @media(max-width:480px) {
        display: block;
        margin-left: 10%;
      }

      .Nav {
        height: 20px;
        align-items: center;

        @media(min-width: 480px) {
          flex-grow: 1;
        }

        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;

        .gap {
          width: 10%;
        }
      }

      .Login {
        height: 20px;
        position: relative;
        margin-right: 8%;
        right: 0px;

        @media(max-width:480px) {
          margin-top: -120px;
          text-align: right;
        }
      }
    }
  }

  .imgbox {
    margin-top: -70px;
    height: 630px;
    background: linear-gradient(lightgray, #121212);
  }

  .Updated {
    @media(max-width:480px) {
      margin-left: 10%;
    }

    margin-left: 50px;
    margin-bottom: 100px;
    overflow-x: hidden;

    .movebuttons {
      @media(max-width:480px) {
        margin-top: 30px;
        right: 10%;
        margin-bottom: 40px;
        position: relative;
      }

      margin-top: -480px;
      position: absolute;
      right: 80px;
      text-align: right;

      button {
        margin-left: 20px;
        background-color: #4e4e4e;
        font-weight: bolder;
        font-size: 20px;
        height: 50px;
        width: 50px;
        border-radius: 1200px;
        color: white;

        &:hover {
          background-color: #fdfdfd;
          color: #121212;
        }

        &:active {
          background-color: darken(#fdfdfd, 10%);
          color: #121212;
        }
      }
    }

    .contwrap {
      .contents {
        position: relative;
        display: flex;
        overflow: auto;
        margin-top: 40px;

        &::-webkit-scrollbar {
          display: none;
        }

        .box {
          @media(max-width:480px) {
            width: 150px;
            height: 350px;
          }

          cursor: pointer;
          position: relative;
          background-color: #fdfdfd;
          min-width: 250px;
          height: 400px;
          color: #121212;
          margin-right: 10px;

          .img {
            text-align: center;

            img {
              margin: auto;
              width: 200px;
            }
          }

          .text {
            margin-left: 20px;

            h2 {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}