.main {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  // height: 900px;
  background-color: #121212;
  color: #fdfdfd;

  .header {
    align-items: center;
    margin-top: 40px;
    background-color: none;
    height: 30px;
    width: 100%;
    display: flex;

    a {
      text-decoration-line: none;
      color: #fdfdfd;
    }

    .Logo {
      margin-left: 50px;
      display: flex;
      align-items: center;

      .img {
        background-color: #fdfdfd;
        width: 70px;
        height: 70px;
      }

      span {
        margin-left: 10px;
        font-size: 30px;
      }
    }

    .Nav {
      height: 20px;
      align-items: center;
      flex-grow: 1;
      display: flex;
      justify-content: center;

      .gap {
        margin: auto;
        text-align: center;
        width: 120px;
      }
    }

    .Login {
      height: 20px;
      position: relative;
      margin-right: 80px;
      right: 0px;
    }
  }

  .Emptybox {
    margin-top: -70px;
    height: 650px;
    background: linear-gradient(lightgray, #121212);
  }

  .Updated {
    margin-left: 50px;
    margin-bottom: 100px;

    .movebuttons {
      margin-top: -40px;
      margin-bottom: 40px;
      position: relative;
      right: 80px;
      text-align: right;

      button {
        margin-left: 20px;
        background-color: #4e4e4e;
        font-weight: bolder;
        font-size: 20px;
        height: 50px;
        width: 50px;
        border-radius: 1200px;
        color: white;

        &:hover {
          background-color: #fdfdfd;
          color: #121212;
        }

        &:active {
          background-color: darken(#fdfdfd, 5%);
          color: #121212;
        }
      }
    }

    .contents {
      display: flex;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .box {
        cursor: pointer;
        position: relative;
        background-color: #fdfdfd;
        min-width: 250px;
        height: 400px;
        color: #121212;

        .img {
          text-align: center;

          img {
            margin: auto;
            width: 200px;
          }
        }

        .text {
          h2 {
            margin-left: 5px;
          }

          margin-left: 20px;
        }

        margin-right: 10px;
      }
    }
  }
}